.bgLogin
{
    background-image: url("https://scontent.fdad3-2.fna.fbcdn.net/v/t1.15752-9/71327758_368646967373025_8128761937426120704_n.jpg?_nc_cat=104&_nc_oc=AQmopyAM8azFnG1pyKY4jNLoB1VtURfLCEMIfjX2B0q2bMugovKuKEZwMXbUO0ZLl6FdC6xubWf3021RMpc3XdLK&_nc_ht=scontent.fdad3-2.fna&oh=40a91cc942690a8e70819d8c813b6309&oe=5E41B66B");
    margin-top: 100px;
    width: 70%;
    height: 420px;
    border: 10px;
    
}
.TextLogin
{
    font-family: 'Times New Roman', Times, serif;
    margin-left: 440px;
    color: aliceblue;
    padding-top: 24px;
}
.login 
{
    width: 45%;
    margin-left: 365px;
    margin-top: 30px;
}
.pass
{
    width: 45%;
    margin-left: 365px;
    margin-top: 30px;
}
.check
{
    color: aliceblue;
    margin-left: 365px;
    margin-top: 17px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
}
.btnlogin
{
    margin-top: 10px;
    margin-left: 475px;
    font-family: 'Times New Roman', Times, serif;
  
}
.href
{
    color: aliceblue;
    margin-left: 465px;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
}
